.angle_bottom_left, .angle_top_left, .angle_bottom_right, .angle_top_right{
  width: 100%;
  height: 160px; }
  .angle_bottom_left svg, .angle_top_left svg, .angle_bottom_right svg, .angle_top_right svg {
    width: 100%;
    height: 100%; }

#intro {
  text-align: center;
  /*background-position: top center;
  background-attachment: fixed;
  background-image: url(./triangle_pattern.png);*/
  background-color: #E43753;
  }
  
#intro .inner-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro .name{
  color: white;
  text-align: left;
  position: relative;
  bottom: -50px;
}
.name h1{
  font-family: 'Monoton', cursive;
}
.name p {
  font-size: 0.5em;
  position: relative;
  top: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.reverso{
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	font-size: 190%;
}
#about {
  text-align: center;
  background-color: white;}
  #about .angle_top_left svg {
    fill: #dcdad8; }
  #about .angle_bottom_left svg {
    fill: #333333; }


#stats {
  background-color: #333333; }
  #stats .angle_bottom_right svg {
    fill: white; }

#twitter {
  background-color: white; }
#twitter h1{
  color: #E43753;
  text-align: center;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  word-wrap: break-word; }


/*.color-wrapper {
  background-position: top center;
  background-attachment: fixed;
  background-image: url(./triangle_pattern.png); }*/

.outer-container {
  width: 100%; }

.inner-container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden; }

#portfolio { 
  background-attachment: fixed;
  background-image: url(./fondo1.png);
}
#portfolio .angle_top_right svg {
  fill: #E43753; }
#portfolio .angle_bottom_right svg {
    fill: white; 
  }
#instagram {
  background-color: white; }
  #contact{
    background-image: url("./img/fondo2.png");
    background-repeat:repeat;
  }
  #contact .angle_top_left svg {
    fill: white; }
