.nav2{
    position: fixed;
    z-index: 1000;
    top: 30px;
    left: 30px;
}

#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
  z-index: 2000;
  cursor: pointer;
  position: absolute;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; 
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: white;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
#toggle.pink span,
#toggle.pink span:after,
#toggle.pink span:before {
    background-color: #e43753;
}
/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:after,
#toggle.on span:before {
  background-color: #e43753;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}


/* menu appearance*/
#menu {
  width: 300px;
  height: 100%;
  padding: 75px 20px 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  position: fixed;
  left: -100%;
  top: 0;
  opacity: 0;
  z-index: 999;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#menu ul{
  margin-top: 30px;
}
#toggle.on + #menu{
  left: 0;
  opacity: 1;
}
.nav2 ul, .nav2 li, .nav2 li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.nav2 li a {
  padding: 5px;
  font-size: 2.2em;
  text-align: center;
  margin: 50px 0;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
.nav2 li a:hover,
.nav2 li a:focus {
  color: #e43753;
}

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid white;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #e43753;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}