@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
.nav2,
.nav2::before,
.nav2::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav2{
    position: fixed;
    z-index: 1000;
    top: 40px;
    left: 50px;
}

.nav2 a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  user-select: none;
  width: 64px;
}
.menu-opener.pink{
  border: 2px solid #e43753;
}

.menu-opener:hover, .menu-opener.active {
  background:white;
}
.menu-opener:hover .menu-opener-inner.active{
  background: transparent;
}
.menu-opener-inner {
  color: #fff;
  margin: 0.75rem 1.75rem;
  font-size: 2em;
}
.menu-opener.pink .menu-opener-inner{
  color: #e43753;
}
.menu-opener-inner .fa-times{
  display: none;
}
.menu-opener:hover .menu-opener-inner{
  color: #e43753;
}

.menu-opener.active{
  background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
  border: none;
}
.menu-opener-inner.active .fa-bars{
  display: none;
}

.menu-opener-inner.active .fa-times{
  display: block;
  color: #E43753;
}



.menu {
  background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  user-select: none;
  width: 0rem;
  z-index: -1;
}
.menu.active {
  width: 800px;
}
.menu.active .menu-link {
  margin-top: 15px;
  color: #E43753;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link:hover{
  color: transparent;
}
.menu-link li {
  margin: auto;
}
/*
@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: calc(100% - 0.5rem);
  }
}*/

