#aboutme{
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

#aboutme .description{
    z-index: 150;
    position: relative;
    right: -30px;
    text-align: right;
    display: flex;
    align-items: center;
}

#aboutme .foto{
    z-index: 100;
    min-width:300px; 
    max-width:400px;
}