
#trabajo i{
    font-size: 4em;
}
#trabajo {
  position: relative;
  height: 500px;
}

.absolute-center, .menu2, .menu2 .btn .fa, .menu2 .btn.trigger .line {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  
  .menu2 {
    width: 5em;
    height: 5em;
  }
  .menu2 .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #33333327;
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
    transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s, -webkit-transform 1s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu2 .btn .fa {
    font-size: 3em;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  
  .menu2 .btn.trigger {
    opacity: 1;
    z-index: 100;
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  
  .menu2 .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .menu2.active .btn-icon {
    opacity: 1;
    z-index: 50;
  }
  .menu2.active .trigger .line {
    height: 0px;
    top: 45%;
  }
  
  
  .rotater:nth-child(1) {
    -webkit-transform: rotate(-22.5deg);
            transform: rotate(-22.5deg);
  }
  
  .menu2.active .rotater:nth-child(1) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(22.5deg);
            transform: translateY(-10em) rotate(22.5deg);
  }
  
  .rotater:nth-child(2) {
    -webkit-transform: rotate(22.5deg);
            transform: rotate(22.5deg);
  }
  
  .menu2.active .rotater:nth-child(2) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-22.5deg);
            transform: translateY(-10em) rotate(-22.5deg);
  }
  
  .rotater:nth-child(3) {
    -webkit-transform: rotate(67.5deg);
            transform: rotate(67.5deg);
  }
  
  .menu2.active .rotater:nth-child(3) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-67.5deg);
            transform: translateY(-10em) rotate(-67.5deg);
  }
  
  .rotater:nth-child(4) {
    -webkit-transform: rotate(112.5deg);
            transform: rotate(112.5deg);
  }
  
  .menu2.active .rotater:nth-child(4) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-112.5deg);
            transform: translateY(-10em) rotate(-112.5deg);
  }
  
  .rotater:nth-child(5) {
    -webkit-transform: rotate(157.5deg);
            transform: rotate(157.5deg);
  }
  
  .menu2.active .rotater:nth-child(5) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-157.5deg);
            transform: translateY(-10em) rotate(-157.5deg);
  }
  
  .rotater:nth-child(6) {
    -webkit-transform: rotate(202.5deg);
            transform: rotate(202.5deg);
  }
  
  .menu2.active .rotater:nth-child(6) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-202.5deg);
            transform: translateY(-10em) rotate(-202.5deg);
  }
  
  .rotater:nth-child(7) {
    -webkit-transform: rotate(247.5deg);
            transform: rotate(247.5deg);
  }
  
  .menu2.active .rotater:nth-child(7) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-247.5deg);
            transform: translateY(-10em) rotate(-247.5deg);
  }
  
  .rotater:nth-child(8) {
    -webkit-transform: rotate(292.5deg);
            transform: rotate(292.5deg);
  }
  
  .menu2.active .rotater:nth-child(8) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-292.5deg);
            transform: translateY(-10em) rotate(-292.5deg);
  }

  svg.pulse-svg {
    overflow: visible;
  }
  svg.pulse-svg circle {
    fill: #E64862;
  }
  svg.pulse-svg .first-circle, svg.pulse-svg .second-circle, svg.pulse-svg .third-circle {
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
  }
  svg.pulse-svg .second-circle {
    animation-delay: 1s;
  }
  svg.pulse-svg .third-circle {
    animation-delay: 2s;
  }
  
  @keyframes pulse-me {
    0% {
      r: 0;
      opacity: 0;
    }
    50% {
      opacity: 0.1;
    }
    70% {
      opacity: 0.09;
    }
    100% {
      r: 250;
      opacity: 0;
    }
  }
  